body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: #202020;
}

nav{
    background-color: #202020;
    width: 100%;
    position: sticky;
    justify-content: space-between;
    padding: 2px ;
    display: flex;
    align-items: center;
    height: 50px;
    overflow: hidden; 
}

nav h5{
    text-align: left;
    color: white;
    gap: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1;
}

nav img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav p{
    text-align: right;
    justify-content: center;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
    line-height: 1;
}

main{
    display: flex;
    flex-grow: 1;
}

aside{
    background-color: #202020;
    height: calc(100vh-50px);
    width: 5%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

aside img{
    width: 18px;
    height: 18px;
    border-radius: 100%;
}

aside .atas{
    display: flex;
    flex-direction: column;
}
aside .bawah{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.contact-list{
    background-color: #2c2c2c;
    border-top-left-radius: 15px;
    width: 25%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.contact img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.contact h5{
    text-align: left;
    color: white;
    gap: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0;
    margin:0;
}

.contact p{
    text-align: right;
    color: white;
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: 14px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #202020;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: grey;
  }  